{% extends 'layout.html.twig' %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Nombre tickets</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users if users|length > 0 %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.tickets.count }}</td>
                <td class="btn-group">
                    <a class="btn btn-secondary" href="{{ path('user_crud_view', { user: user.id }) }}">Voir</a> 
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
