{% extends 'layout.html.twig' %}

{% block body %}
<h1>{{ user.name }}</h1>
<p>Email : {{user.email}}</p>
<table class="table">
<thead>
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>Categorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in user.tickets if user.tickets|length > 0 %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.category.name }}</td>
                <td>{{ ticket.users|join(', ') }}</td>
                <td class="btn-group">
                    <a class="btn btn-secondary" href="{{ path('ticket_crud_view', { ticket: ticket.id }) }}">Voir</a> 
                    <a class="btn btn-secondary" href="{{ path('ticket_crud_update', { ticket: ticket.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
