<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AppTicket :{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body>
    	<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">	
					<a class="navbar-brand" href="#">Navbar</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/ticket-crud">Tickets</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user-crud">Users</a>
						</li>
						</ul>
						<form class="form-inline my-2 my-lg-0" action="{{ path('ticket_crud_search') }}">
							<input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>
		</header>
		
		<div class="container">
    	<div class="row">
    		<main class="col-md-9 mt-5">
				{# ...or you can read and display every flash message available #}
				{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }}">
						{{ message|raw }}
					</div>
				{% endfor %}
				{% endfor %}
				{% block body %}{% endblock %}</main>
    		<sidebar class="col-md-3 mt-5">{% block sidebar %}{% endblock %}</sidebar>					
    	</div>
    	<footer class="row">
            <section class="col">
                {{ render(controller('App\\Controller\\AdsController::footer')) }}
            </section>
    		<sectin class="col">
                <p>2018 - IutOrleans</p>      
            </sectin>
    	</footer>
    </div>
    </body>
</html>
